<html>
 <head>
 <meta name="viewpoint" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="utf-8">
<link rel="stylesheet" href="css/default.css">



<style> .slide {
 font-size: 24px; 
}
 
</style> 
</head> 
 <body>
 <div id="impress">
 <div class="step slide"  data-y="50000" data-x="53000">
 <div style="height:100%; width:100%;">
 <div style="height:100%; width:100%">
 <div style="height:16%; width:100%;">
 
 </div>
<div style="height:16%; width:100%;">
 <p style="font-size: 54px;;text-align: center;">
 <strong >
 <span >
 impress.scm!
 </span>
 </strong>
 </p>
 </div>
<div style="height:16%; width:100%;">
 <p style="font-size: 32px;;text-align: center;;font-style: italic">
 <span >
 elegant slides written in scheme
 </span>
 </p>
 </div>
<div style="height:16%; width:100%;">
 <p style="font-size: 24px;;text-align: right;">
 <span >
 yang zhixuan
 </span>
 </p>
 </div>
<div style="height:16%; width:100%;">
 
 </div>
<div style="height:16%; width:100%;">
 
 </div>
 </div><br>
 </div>
 </div>
<div class="step slide"  data-y="47000.0" data-x="50000.0" data-scale="3">
 <div style="height:100%; width:100%;">
 <div style="height:100%; width:100%">
 <div style="height:20%; width:100%;">
 
 </div>
<div style="height:60%; width:100%;">
 <ol >
 <li >
 <p >
 <span >
 write down what you want to present in impress.scm
 </span>
 </p>
 </li>
<li >
 <p >
 <span >
 generate htmls automatically
 </span>
 </p>
 </li>
<li >
 <p >
 <span >
 play the slides in Google Chrome!
 </span>
 </p>
 </li>
 </ol>
 </div>
<div style="height:20%; width:100%;">
 
 </div>
 </div><br>
 </div>
 </div>
<div class="step slide"  data-y="50000.0" data-x="47000.0" data-rotate-z="90">
 <div style="height:100%; width:100%;">
 <div style="height:100%; width:100%">
 <div style="height:20%; width:100%;">
 
 </div>
<div style="height:60%; width:100%;">
 <p >
 <span >
 you can (easily) extend impress.scm with your own layout, javascript library, ...
 </span>
 </p>
 </div>
<div style="height:20%; width:100%;">
 
 </div>
 </div><br>
 </div>
 </div>
<div class="step slide"  data-y="53000.0" data-x="50000.0">
 <div style="height:100%; width:100%;">
 <div style="height:100%; width:100%">
 <div style="height:16%; width:100%;">
 
 </div>
<div style="height:16%; width:100%;">
 <p style="font-size: 54px;;text-align: center;">
 <strong >
 <span >
 thank you!
 </span>
 </strong>
 </p>
 </div>
<div style="height:16%; width:100%;">
 <p style="font-size: 32px;;text-align: center;;font-style: italic">
 <span >
 
 </span>
 </p>
 </div>
<div style="height:16%; width:100%;">
 <p style="font-size: 24px;;text-align: right;">
 <span >
 
 </span>
 </p>
 </div>
<div style="height:16%; width:100%;">
 
 </div>
<div style="height:16%; width:100%;">
 
 </div>
 </div><br>
 </div>
 </div>
 </div>
<script style="text/javascript" src="js/impress.js"></script>
<script>
impress().init();
</script> 
</body> 
</html>
