<html>
 <head>
 <meta name="viewpoint" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="utf-8">
<link rel="stylesheet" href="css/default.css">

<title>new title</title>


<style> .slide {
 font-size: 24px; 
}
 
</style> 
</head> 
 <body>
 <div id="impress">
 <div class="step slide"  data-y="0" data-x="0">
 <div style="height:100%; width:100%;">
 <p >
 <span style="font-size: 150%;">
 First text
 </span>
 </p><br>
<p >
 <span >
 Second text
 </span>
 </p><br>
 </div>
 </div>
<div class="step slide"  data-y="0" data-x="1000">
 <div style="height:100%; width:100%;">
 <p >
 <strong >
 <span >
 new slide
 </span>
 </strong>
 </p><br>
 </div>
 </div>
<div class="step slide" style="font-size: 30px;;background-color: rgba(100,200,100,0.6);" data-y="0" data-x="2000">
 <div style="height:100%; width:100%;">
 <div style="height:100%; width:100%">
 <div style="height:100%; width:33%; float:left;">
 <p >
 <span >
 col1
 </span>
 </p>
 </div>
<div style="height:100%; width:33%; float:left;">
 <p >
 <span >
 col2
 </span>
 </p>
 </div>
<div style="height:100%; width:33%; float:left;">
 <p >
 <span >
 col3
 </span>
 </p>
 </div>
<div style="float:clear">
 
 </div>
 </div><br>
 </div>
 </div>
<div class="step slide"  data-y="0" data-x="3000">
 <div style="height:100%; width:100%;">
 <div style="height:100%; width:100%">
 <div style="height:33%; width:100%;">
 <p >
 <span >
 row1
 </span>
 </p>
 </div>
<div style="height:33%; width:100%;">
 <p >
 <span style="background-color: rgba(233,233,255,1);;border-radius:12px;">
 row2
 </span>
 </p>
 </div>
<div style="height:33%; width:100%;">
 <p >
 <span >
 row3
 </span>
 </p>
 </div>
 </div><br>
 </div>
 </div>
<div class="step slide"  data-y="0" data-x="4000">
 <div style="height:100%; width:100%;">
 <div style="height:100%; width:100%">
 <div style="height:50%; width:100%;">
 <div style="height:100%; width:100%">
 <div style="height:100%; width:50%; float:left;">
 <p >
 <span >
 I
 </span>
 </p>
 </div>
<div style="height:100%; width:50%; float:left;">
 <p >
 <span >
 love
 </span>
 </p>
 </div>
<div style="float:clear">
 
 </div>
 </div>
 </div>
<div style="height:50%; width:100%;">
 <p >
 <span >
 scheme
 </span>
 </p>
 </div>
 </div><br>
 </div>
 </div>
<div class="step slide"  data-y="1000" data-x="0">
 <div style="height:100%; width:100%;">
 <ol >
 <li >
 <p >
 <span >
 first item
 </span>
 </p>
 </li>
<li >
 <p >
 <span >
 second item
 </span>
 </p>
 </li>
<li >
 <p >
 <span >
 third item
 </span>
 </p>
 </li>
<li >
 <ul >
 <li >
 <p >
 <span >
 inner first
 </span>
 </p>
 </li>
<li >
 <p >
 <span >
 inner second
 </span>
 </p>
 </li>
 </ul>
 </li>
 </ol><br>
 </div>
 </div>
<div class="step slide"  data-y="1000" data-x="1000">
 <div style="height:100%; width:100%;">
 
 </div>
 </div>
<div class="step slide"  data-y="1000" data-x="2000">
 <div style="height:100%; width:100%;">
 
 </div>
 </div>
<div class="step slide"  data-y="1000" data-x="3000">
 <div style="height:100%; width:100%;">
 
 </div>
 </div>
<div class="step slide"  data-y="1000" data-x="4000">
 <div style="height:100%; width:100%;">
 
 </div>
 </div>
<div class="step slide"  data-y="2000" data-x="0">
 <div style="height:100%; width:100%;">
 
 </div>
 </div>
<div class="step slide"  data-y="2000" data-x="1000">
 <div style="height:100%; width:100%;">
 
 </div>
 </div>
<div class="step slide"  data-y="2000" data-x="2000">
 <div style="height:100%; width:100%;">
 
 </div>
 </div>
<div class="step slide"  data-y="2000" data-x="3000">
 <div style="height:100%; width:100%;">
 
 </div>
 </div>
 </div>
<script style="text/javascript" src="js/impress.js"></script>
<script>
impress().init();
</script> 
</body> 
</html>